<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Lab 6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDAO</display-name>
    <servlet-name>UserDAO</servlet-name>
    <servlet-class>book.dao.UserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAO</servlet-name>
    <url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>book.dao.AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>book.dao.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>book.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>book.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>book.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAdminController</display-name>
    <servlet-name>RegisterAdminController</servlet-name>
    <servlet-class>book.controller.RegisterAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAdminController</servlet-name>
    <url-pattern>/RegisterAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminController</display-name>
    <servlet-name>LoginAdminController</servlet-name>
    <servlet-class>book.controller.LoginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminController</servlet-name>
    <url-pattern>/LoginAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentController</display-name>
    <servlet-name>UpdateStudentController</servlet-name>
    <servlet-class>book.controller.UpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentController</servlet-name>
    <url-pattern>/UpdateStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminController</display-name>
    <servlet-name>UpdateAdminController</servlet-name>
    <servlet-class>book.controller.UpdateAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminController</servlet-name>
    <url-pattern>/UpdateAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createBook</display-name>
    <servlet-name>createBook</servlet-name>
    <servlet-class>createBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createBook</servlet-name>
    <url-pattern>/createBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>book.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listBookStud</display-name>
    <servlet-name>listBookStud</servlet-name>
    <servlet-class>listBookStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listBookStud</servlet-name>
    <url-pattern>/listBookStud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegister</display-name>
    <servlet-name>AdminRegister</servlet-name>
    <servlet-class>AdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegister</servlet-name>
    <url-pattern>/AdminRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studRegister</display-name>
    <servlet-name>studRegister</servlet-name>
    <servlet-class>studRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studRegister</servlet-name>
    <url-pattern>/studRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAdmin</display-name>
    <servlet-name>ProfileAdmin</servlet-name>
    <servlet-class>ProfileAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAdmin</servlet-name>
    <url-pattern>/ProfileAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartController</display-name>
    <servlet-name>AddtoCartController</servlet-name>
    <servlet-class>book.controller.AddtoCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartController</servlet-name>
    <url-pattern>/AddtoCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemovefromCartController</display-name>
    <servlet-name>RemovefromCartController</servlet-name>
    <servlet-class>book.controller.RemovefromCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovefromCartController</servlet-name>
    <url-pattern>/RemovefromCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemovefromCart</display-name>
    <servlet-name>RemovefromCart</servlet-name>
    <servlet-class>book.controller.RemovefromCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovefromCart</servlet-name>
    <url-pattern>/RemovefromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartController</display-name>
    <servlet-name>RemoveFromCartController</servlet-name>
    <servlet-class>book.controller.RemoveFromCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartController</servlet-name>
    <url-pattern>/RemoveFromCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecController</display-name>
    <servlet-name>QuantityIncDecController</servlet-name>
    <servlet-class>book.controller.QuantityIncDecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecController</servlet-name>
    <url-pattern>/QuantityIncDecController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecControllerr</display-name>
    <servlet-name>QuantityIncDecControllerr</servlet-name>
    <servlet-class>book.controller.QuantityIncDecControllerr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecControllerr</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutController</display-name>
    <servlet-name>CheckOutController</servlet-name>
    <servlet-class>book.controller.CheckOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutController</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>book.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderController</display-name>
    <servlet-name>AdminOrderController</servlet-name>
    <servlet-class>book.controller.AdminOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderController</servlet-name>
    <url-pattern>/AdminOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderdetailsController</display-name>
    <servlet-name>OrderdetailsController</servlet-name>
    <servlet-class>book.controller.OrderdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderdetailsController</servlet-name>
    <url-pattern>/OrderdetailsController</url-pattern>
  </servlet-mapping>
</web-app>